/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 60px;
    box-sizing: border-box;
}

/* Navigation bar styling */
nav {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}

/* Add space above to prevent content from being hidden by fixed navbar */

/* Main section */
#main-section {
    padding-top: 130px; 
    margin-top: -90px; 
}

/* Packages section */
#package-section {
    padding-top: 100px; 
    margin-top: -80px; 
}

/* Call to action section */
#call-action-section {
    padding-top: 60px; 
    margin-top: -60px;
}

/* Container for navigation and main content */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Styling for the logo */
.logo {
    margin: 20px;
}

.logo a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Main content styling */
.main-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

/* Menu link styling */
.menu a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    background-color: #eeeeee;
    border-radius: 15px;
}

/* Main header section styling */
.main-header {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f8f8;
}

.main-header h1 {
    margin: 15px;
    font-size: 36px;
}

.main-header p {
    font-size: 18px;
    color: #777;
}

/* About section styling */
.about {
    display: flex;
    padding: 20px;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-end;
}

/* Banner item styling */
.banner-item {
    width: 100%;
}

/* Testimonial section styling */
.testimonial {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.testimonial blockquote {
    font-style: italic;
    color: #333;
}

.testimonial-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #777;
}

.testimonial-item div img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    border-radius: 50%;
}

/* Contact Us section styling */
.contact-us {
    padding: 20px;
    background-color: #f8f8f8;
}

.contact-us h2 {
    text-align: center;
    margin-bottom: 10px;
}

.contact-us p {
    text-align: center;
    margin-bottom: 20px;
}

.contact-us form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.contact-us label {
    margin-bottom: 5px;
}

.contact-us input, .contact-us select {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-us button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for error messages */
.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
    display: block; 
}

/* Style for invalid input fields */
input.invalid, select.invalid {
    margin-bottom: 4px;
    border: 1px solid red;
}

/* When input is valid */
input.valid, select.valid {
    border: 1px solid green; 
}

/* Features section styling */
.features {
    padding: 20px;
    background-color: #fff;
}

.features h2 {
    text-align: center;
    margin-bottom: 20px;
}

.features ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.features li {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    min-width: 80%;
}

/* Packages section styling */
.packages {
    padding: 20px;
    background-color: #f8f8f8;
}

.packages-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.packages-item-1, .packages-item-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

.packages h2 {
    text-align: center;
    margin-bottom: 20px;
}

.package {
    background-color: #fff;
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* Call to action section styling */
.cta {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}

.cta h2 {
    margin-bottom: 20px;
}

.cta p {
    margin-bottom: 20px;
}

.cta button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
}

footer p {
    margin: 0;
    color: #777;
}

footer a {
    margin-left: 10px;
    color: #333;
    text-decoration: none;
}

/* Media queries for responsive design */

/* For small screens like phones and tablets */
@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    
    .about {
        flex-direction: column;
        align-items: center;
    }

    .image-container, .testimonial {
        width: 100%;
    }
}
  
/* For small laptops */
@media screen and (max-width: 1024px) {
    .main-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        display: flex;
    }
    .about {
        flex-direction: column;
        align-items: center;
    }

    .image-container, .testimonial {
        width: 100%;
    }
}
  
/* For medium and larger laptops */
@media screen and (min-width: 1025px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .image-container, .testimonial {
        width: 100%;
    }
}
